#########
# Tools #
#########
[tools]

# Language Runtimes
go = "1.25.5"
lua = "5.4.8"
perl = "5.42.0"
php = "8.5.1"
python = "3.14.2"
ruby = "4.0.0"
node = "25.2.1"
rust = "1.92.0"

# Package Managers
pnpm = "latest"
uv = "latest"

# CLI Tools
"npm:aws-cdk" = "latest"
"npm:difit" = "latest"
"npm:npm-check-updates" = "latest"

# Language Servers
"github:LuaLS/lua-language-server" = "latest"
"go:github.com/docker/docker-language-server/cmd/docker-language-server" = "latest"
"npm:bash-language-server" = "latest"
"npm:intelephense" = "latest"
"npm:tombi" = "latest"
"npm:typescript-language-server" = "latest"
"npm:vscode-json-languageserver" = "latest"
"npm:yaml-language-server" = "latest"
"npm:@actions/languageserver" = "latest"
"npm:@ansible/ansible-language-server" = "latest"

# MCP Servers
"github:github/github-mcp-server" = "latest"
"pipx:oraios/serena" = "latest"
"pipx:mcp-server-git" = "latest"

[tools."github:php/pie"]
version = "latest"
asset_pattern = "pie.phar"
bin = "pie"

[tools."http:terraform-ls"]
version = "0.38.3"
url = "https://releases.hashicorp.com/terraform-ls/{{version}}/terraform-ls_{{version}}_{{ exec(command='uname -s') | lower }}_{{ exec(command='uname -m') }}.zip"
version_list_url = "https://api.github.com/repos/hashicorp/terraform-ls/releases"

############
# Settings #
############
[settings]
experimental = true

[settings.npm]
package_manager = "pnpm"

#[settings.node]
#default_packages_file = "~/.config/mise/.default-npm-packages"

[settings.python]
default_packages_file = "~/.config/mise/.default-python-packages"

[settings.ruby]
default_packages_file = "~/.config/mise/.default-gems"

#########
# Tasks #
#########
# Language Server Tasks
[tasks."lsp:ansible"]
description = "Ansible Language Server"
run = "ansible-language-server --stdio"

[tasks."lsp:bash"]
description = "A language server for Bash"
run = "bash-language-server start"

[tasks."lsp:docker"]
description = "Language server for Dockerfiles, Compose files, and Bake files"
run = "docker-language-server start --stdio"

[tasks."lsp:github-actions"]
description = "GitHub Actions Language Server"
run = "actions-languageserver --stdio"

[tasks."lsp:json"]
description = "VSCode JSON Language Server"
run = "vscode-json-languageserver --stdio"

[tasks."lsp:lua"]
description = "A language server that offers Lua language support - programmed in Lua"
run = "lua-language-server"

[tasks."lsp:php"]
description = "PHP intellisense for Visual Studio Code"
run = "intelephense --stdio"

[tasks."lsp:terraform"]
description = "Terraform Language Server"
run = "terraform-ls serve"

[tasks."lsp:toml"]
description = "TOML Formatter / Linter / Language Server"
run = "tombi lsp"

[tasks."lsp:typescript"]
description = "TypeScript & JavaScript Language Server"
run = "typescript-language-server --stdio"

[tasks."lsp:yaml"]
description = "Language Server for YAML Files"
run = "yaml-language-server --stdio"

# MCP Server Tasks
[tasks."mcp:git"]
description = "A Model Context Protocol server for Git repository interaction and automation."
run = "mcp-server-git --repository $(git rev-parse --show-toplevel)"

[tasks."mcp:github"]
description = "GitHub's official MCP Server"
run = "github-mcp-server stdio"
env = { GITHUB_PERSONAL_ACCESS_TOKEN = "{{ exec(command='gh auth token') }}" }

[tasks."mcp:serena"]
description = "A powerful coding agent toolkit providing semantic retrieval and editing capabilities (MCP server & other integrations)"
run = "serena start-mcp-server --transport stdio"
