#########
# Tools #
#########
[tools]
go = "1.25.5"
lua = "5.4.8"
"npm:aws-cdk" = "latest"
"npm:difit" = "latest"
"npm:npm-check-updates" = "latest"
perl = "5.42.0"
php = "8.5.1"
pnpm = "latest"
uv = "latest"
python = "3.14.2"
ruby = "4.0.0"
node = "25.2.1"
rust = "1.92.0"

# Language Servers
"npm:intelephense" = "latest"
"github:LuaLS/lua-language-server" = "latest"

# MCP Servers
"github:github/github-mcp-server" = "latest"
"pipx:oraios/serena" = "latest"
"pipx:mcp-server-git" = "latest"

[tools."github:php/pie"]
version = "latest"
asset_pattern = "pie.phar"
bin = "pie"

############
# Settings #
############
[settings]
experimental = true

[settings.npm]
package_manager = "pnpm"

#[settings.node]
#default_packages_file = "~/.config/mise/.default-npm-packages"

[settings.python]
default_packages_file = "~/.config/mise/.default-python-packages"

[settings.ruby]
default_packages_file = "~/.config/mise/.default-gems"

#########
# Tasks #
#########
# Language Server Tasks
[tasks."lsp:php"]
description = "PHP intellisense for Visual Studio Code"
run = "intelephense --stdio"

[tasks."lsp:lua"]
description = "A language server that offers Lua language support - programmed in Lua"
run = "lua-language-server"

# MCP Server Tasks
[tasks."mcp:git"]
description = "A Model Context Protocol server for Git repository interaction and automation."
run = "mcp-server-git --repository $(git rev-parse --show-toplevel)"

[tasks."mcp:github"]
description = "GitHub's official MCP Server"
run = "github-mcp-server stdio"
env = { GITHUB_PERSONAL_ACCESS_TOKEN = "{{ exec(command='gh auth token') }}" }

[tasks."mcp:serena"]
description = "A powerful coding agent toolkit providing semantic retrieval and editing capabilities (MCP server & other integrations)"
run = "serena start-mcp-server --transport stdio"
