[tools]
"gem:neovim" = "latest"
go = "1.25.3"
lua = "5.4.8"
node = "25.1.0"
"npm:@anthropic-ai/claude-code" = "latest"
"npm:@github/copilot" = "latest"
"npm:@google/gemini-cli" = "latest"
"npm:@openai/codex" = "latest"
"npm:aws-cdk" = "latest"
"npm:difit" = "latest"
"npm:neovim" = "latest"
"npm:npm-check-updates" = "latest"
perl = "5.42.0"
php = "8.4.14"
"pipx:markitdown" = "latest"
"pipx:pip" = "latest"
python = "3.14.0"
ruby = "3.4.7"

[settings]
experimental = true
