prefix_rule(pattern = ["php"], decision = "forbidden")
prefix_rule(pattern = ["composer", "require"], decision = "forbidden")
prefix_rule(
    pattern = ["composer", "run"],
    decision = "allow",
    match = [
      "composer run --quiet --list",
    ],
)
