name: Mise Upgrade

on:
  workflow_dispatch:
  schedule:
    - cron: '0 15 * * 6' # every week on Sunday at 00:00 JST

env:
  GH_TOKEN: ${{ github.token }}

permissions:
  contents: write
  pull-requests: write

jobs:
  mise-upgrade:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install PHP dependencies
        run : |
          sudo apt-get update
          sudo apt-get install -y autoconf bison build-essential curl gettext git libgd-dev libcurl4-openssl-dev libedit-dev libicu-dev libjpeg-dev libmysqlclient-dev libonig-dev libpng-dev libpq-dev libreadline-dev libsqlite3-dev libssl-dev libxml2-dev libzip-dev openssl pkg-config re2c zlib1g-dev

      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        env:
          XDG_CONFIG_HOME: ${{ github.workspace }}

      - run: mise upgrade --bump
        env:
          XDG_CONFIG_HOME: ${{ github.workspace }}

      - id: pull-request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          branch: mise-upgrade/${{ github.run_id }}
          title: 'Mise Upgrade'
          body: 'This PR was automatically generated by the Mise Upgrade workflow.'
          commit-message: 'Update plugins'
          delete-branch: true
          labels: mise

      - if: steps.pull-request.outputs.pull-request-number
        run: gh pr merge --squash --auto ${{ steps.pull-request.outputs.pull-request-number }}
